tqdm
GeoAlchemy2
sqlalchemy
psycopg2-binary
shapely
openrouteservice
flask
flask-shell-ipython
flask-sqlalchemy
Flask-Migrate
flask-admin
flask-bootstrap
pandas
bottleneck
xlrd
rdflib
rdflib-jsonld
geojson
PyYaml
gevent
pyopenssl
gunicorn
uwsgi
python-slugify
cryptography
flask-login
flask-wtf
wtforms
email-validator
flask-mail
