tqdm
GeoAlchemy2
sqlalchemy
psycopg2-binary==2.8.6
shapely
openrouteservice
flask
flask-shell-ipython
flask-sqlalchemy
Flask-Migrate
flask-admin
flask-bootstrap
flask-login
pandas
bottleneck
# xlrd
openpyxl
rdflib
geojson
PyYaml
# gevent
pyopenssl
# gunicorn
uwsgi
python-slugify
cryptography
flask-wtf
wtforms
email-validator
flask-mail
flask-bcrypt
stripe
flask_nav
