# /etc/systemd/system/douceville.service

[Unit]
Description=Gunicorn instance to serve maillage
After=network.target

[Service]
User=ydethe
Group=ydethe
WorkingDirectory=/home/ydethe/douceville
ExecStart=/usr/local/bin/uwsgi etc/uwsgi.ini

[Install]
WantedBy=multi-user.target

