# /etc/systemd/system/douceville.service

[Unit]
Description=Gunicorn instance to serve douceville
After=network.target

[Service]
User=ydethe
Group=ydethe
Environment="SECRET_KEY=FmpeRSKEe6F-6F6hy6qW603VCkoTqGCmkcZG9est-Zc="
Environment="OPENROUTESERVICE_KEY=5b3ce3597851110001cf6248f1d3b3fb5b69489b954df2b1842b88d7"
Environment="STRIPE_SECRET_KEY=sk_test_51HlJlVGFonhtEiXEelNtjMjZL6WjoUNqT2pSvGo6n71DjzHq2E9QCzgEgF310xHFrcs4ucp4po2Hc0H4TBpmp3vn00JnZPpkrL"
Environment="STRIPE_PUBLISHABLE_KEY=pk_test_51HlJlVGFonhtEiXEqSa9aIeqpQis9hpyiHEtDbrZUnnDInKdxZzBLxxZAre5bTh5qntfqwzloQriY0PCCeURxten00QB0hoezk"
Environment="MAIL_SERVER=mx.johncloud.fr"
Environment="MAIL_PORT=587"
Environment="MAIL_USE_TLS=True"
Environment="MAIL_USE_SSL=False"
Environment="MAIL_USERNAME=yann@johncloud.fr"
Environment="MAIL_PASSWORD=9fq!86JvA@u3q*I"
Environment="MAIL_SENDER_NAME=Yann"
Environment="MAIL_SENDER_EMAIL=yann@johncloud.fr"
Environment="DATABASE_URI=postgresql+psycopg2://douceville:douceville@localhost/douceville"
Environment="HOST=https://douceville.johncloud.fr"
Environment="PORT=443"
Environment="PRICE_ID=price_1HoCr3GFonhtEiXEAgLKb9WD"
WorkingDirectory=/home/ydethe/douceville
# ExecStart=/usr/local/bin/uwsgi etc/uwsgi.ini
ExecStart=/home/ydethe/douceville/.venv/bin/gunicorn --access-logfile log/douceville-access.log --error-logfile log/douceville-error.log --workers 3 --bind 0.0.0.0:3031 douceville:app

[Install]
WantedBy=multi-user.target
