# /etc/systemd/system/douceville.service

[Unit]
Description=Gunicorn instance to serve maillage
After=network.target

[Service]
User=ydethe
Group=ydethe
Environment=STRIPE_SECRET_KEY=sk_test_51HlJlVGFonhtEiXEelNtjMjZL6WjoUNqT2pSvGo6n71DjzHq2E9QCzgEgF310xHFrcs4ucp4po2Hc0H4TBpmp3vn00JnZPpkrL
Environment=STRIPE_PUBLISHABLE_KEY=pk_test_51HlJlVGFonhtEiXEqSa9aIeqpQis9hpyiHEtDbrZUnnDInKdxZzBLxxZAre5bTh5qntfqwzloQriY0PCCeURxten00QB0hoezk
Environment=DOUCEVILLE_CONFIG=prod
Environment=OPENROUTESERVICE_KEY=5b3ce3597851110001cf6248f1d3b3fb5b69489b954df2b1842b88d7
WorkingDirectory=/home/ydethe/douceville
# ExecStart=/usr/local/bin/uwsgi etc/uwsgi.ini
ExecStart=/home/ydethe/douceville/.venv/bin/uwsgi --socket 127.0.0.1:3031 --module "douceville:app"

[Install]
WantedBy=multi-user.target
