<!DOCTYPE html>
<html>
  <head>
    <title>Maillage</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>
    <<div id="mapid" style="width: 100%; height: 600px;"></div>
    <script>

      var mymap = L.map('mapid').setView([47.0382686, 1.1501905], 6);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(mymap);

      function onEachFeature(feature, layer) {
          // does this feature have a property named info?
          if (feature.properties && feature.properties.info) {
              layer.bindPopup(feature.properties.info);
          }
      }

      axios.get('{{ points_request}}')
      .then(response => {
          console.log(response.data)
          L.geoJSON(response.data, {onEachFeature: onEachFeature}).addTo(mymap);
      })

    </script>
  </body>
</html>
