<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC_Ql1NCfIGe8raJlpAEGp8x5ju0JGsGQ&callback=initMap"
      defer
    ></script>
    <script>
        let map;
        let infowindow;

        function initMap() {
        
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 43.604651, lng: 1.443406 },
                zoom: 8,
            });
            infowindow = new google.maps.InfoWindow();

            map.data.loadGeoJson("{{ geojson_file }}");

            map.data.addListener('click', function(event) {
              var feat = event.feature;
              var html = "<b>"+feat.getProperty('nom')+"</b><br>"+feat.getProperty('info')+"</br>";
              infowindow.setContent(html);
              infowindow.setPosition(event.latLng);
              infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
              infowindow.open(map);
            });

        }
    </script>
    <style>
        /* Set the size of the div element that contains the map */
       #map {
         height: 700px;  /* The height is 400 pixels */
         width: 100%;  /* The width is the width of the web page */
        }
     </style> 
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
