<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC_Ql1NCfIGe8raJlpAEGp8x5ju0JGsGQ&callback=initMap"
      defer
    ></script>
    <script>
        let map;

        function initMap() {
        
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 43.604651, lng: 1.443406 },
            zoom: 8,
        });
        
        map.data.loadGeoJson("{{ geojson_file }}");

        var oInfo = new google.maps.InfoWindow({
          'position' : new google.maps.LatLng( 43.5942489360648, 1.47431526384671),           // position d'ancrage de l'InfoWondow sur la carte
          'content'  : 'St Jo'// contenu qui sera affiché
        });

        google.maps.event.addListener( oMarker, 'click', function( data){
          // affichage position du marker
          oInfo.setContent( 'position :<br>' + data.latLng.toUrlValue(5));
          oInfo.open( this.getMap(), this);
        });

        }
    </script>
    <style>
        /* Set the size of the div element that contains the map */
       #map {
         height: 500px;  /* The height is 400 pixels */
         width: 100%;  /* The width is the width of the web page */
        }
     </style> 
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
